.Button[type=submit] {
  padding: 0 1.5rem;
  height: 4rem;
  border-radius: 8px; 
  border: 0;
  background: var(--blue-dark);
  color: var(--gray-100);
  border: 1px solid var(--gray-700);
  font-weight: bold;
  cursor: pointer;

  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  transition: color 0.2s, background-color 0.2s;
}

.Button[type=submit]:not(:disabled):hover {
  background: var(--blue);
}

.Button[type=submit]:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}